apiVersion: noobaa.io/v1alpha1
kind: NooBaa
metadata:
  name: noobaa
  namespace: openshift-storage
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "5"
spec:
  dbResources:
    requests:
      cpu: "0.1"
      memory: 1Gi
  coreResources:
    requests:
      cpu: "0.1"
      memory: 1Gi
