apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  namespace: {{ template "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.commonCR.annotations | nindent 4 }}
  name: upload-kickstart
spec:
  workspaces:
    - name: workspace
  params:
    - name: ostree-repo-url
      description: URL of the OSTree Repository
    - name: kickstart-path
      description: Directory containing kickstart file
      type: string
    - name: kickstart-destination-dir
      description: Directory Kickstart file should be created
      type: string
    - name: extra-template-variables
      description: Extra template variables
      default: ""
      type: string
  results:
    - name: artifact-repository-storage-url
      description: Location where the asset is stored in the artifact repository
    - name: serving-storage-url
      description: Location where the asset is served
  steps:
    - name: upload-kickstart-playbook
      image: image-registry.openshift-image-registry.svc:5000/rfe/ansible-rfe-runner:latest
      workingDir: /workspace/workspace
      args:
        - |-
          cd tooling/ansible
          ansible-galaxy collection install -r collections/requirements.yaml
          ansible-playbook \
            -e ostree_repo_url=$(params.ostree-repo-url) \
            -e kickstart_file=$(params.kickstart-path) \
            -e kickstart_destination_dir=$(params.kickstart-destination-dir) \
            -e artifact_repository_url_output_file=$(results.artifact-repository-storage-url.path) \
            -e storage_url_output_file=$(results.serving-storage-url.path) \
            -e "$(params.extra-template-variables)" \
            playbooks/upload-kickstart.yaml
      command:
        - /bin/bash
        - -c
