apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "5"
  name: rfe-oci-build-image
spec:
  workspaces:
    - name: workspace
  params:
    - name: blueprint-dir
      description: Directory Contaning blueprint.toml File
      type: string
    - name: image-builder-secret
      description: Name of the secret containing the SSH key for the image builder
      default: "image-builder-ssh-key"
      type: string
  results:
    - name: build-commit
      description: Commit ID of the Build
  steps:
    - name: rfe-oci-build-image
      image: image-registry.openshift-image-registry.svc:5000/rfe/ansible-rfe-runner:latest
      workingDir: /workspace/workspace
      args:
        - |-
          cd tooling/ansible
          ansible-galaxy collection install -r collections/requirements.yaml
          ansible-playbook -u cloud-user --private-key=/var/secrets/image-builder-ssh/ssh-privatekey playbooks/oci-create-image.yaml -e blueprint_source_dir=$(params.blueprint-dir) -e build_commit_output_file=$(results.build-commit.path)
      command:
        - /bin/bash
        - -c
      volumeMounts:
        - name: publisher
          mountPath: /var/secrets/publisher
          readOnly: true
        - name: quay-rfe-setup
          mountPath: /var/secrets/quay-rfe-setup
          readOnly: true
        - name: image-builder-ssh
          mountPath: /var/secrets/image-builder-ssh
          readOnly: true
  volumes:
    - name: publisher
      secret:
        defaultMode: 0440
        secretName: publisher
    - name: quay-rfe-setup
      secret:
        defaultMode: 0440
        secretName: quay-rfe-setup
    - name: image-builder-ssh
      secret:
        defaultMode: 0440
        secretName: "$(params.image-builder-secret)"
