{% for key, value in content_source.items() %}
{% if value is boolean %}
{{ key }} = {{ value | lower }}
{% elif value is string %}
{{ key }} = "{{ value }}"
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}