apiVersion: v1
stringData:
  org: "{{ quay_rfe_organization }}"
  password: "{{ quay_rfe_password }}"
  username: "{{ quay_rfe_username }}"
kind: Secret
metadata:
  name: "{{ quay_rfe_secret_name }}"
  namespace: "{{ quay_rfe_namespace }}"
type: Opaque
