{{- $setupJobName := include "common.names.appendSuffix" (dict "suffix" "setup" "context" $) -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $setupJobName }}
  namespace: {{ template "common.names.namespace" $ }}
  labels:
    {{- include "common.labels.labels" . | nindent 4 }}
