apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: resource-locker-oauth-role
  namespace: resource-locker-config
rules:
  - apiGroups:
      - config.openshift.io
    resources:
      - oauth
      - oauths
    verbs:
      - list
      - get
      - watch
      - create
      - update
      - patch
